body {
  margin: 0;
  font-family: Inter, sans-serif; 
  height: auto;
  width: 100vw;
}

 .container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  border: 1px solid black;
  color: black;
  margin: auto;
  background-color: #282d3519;
  box-shadow:4px 4px #88888838;

}

.header {
  color: rgb(63, 107, 92);
  text-align: center;
  /* margin-bottom: 1%; */
}

img {
  object-fit:fill;
  height: 6rem;
  width: 100%;
  box-shadow:0 4px #88888838;
  margin-bottom: 0;
}

.header > h3,p{
line-height: 0.5em;
font-size:  smaller;

}

.fullstack {
  text-transform: uppercase;
}

.main {
  text-align: justify;
  padding: 3%;
  margin:-top: 0;
}

.upper {
 font-size: medium;
  text-transform: uppercase;
  line-height: 1.1em;
  color: rgb(63, 107, 92);


}
.Main, p {
  line-height: 1em;
  padding-bottom: 1.2em;
  color: rgb(65, 68, 66);

}

.footer {
  display: flex;
  display: row;
  justify-content: space-around;
  align-items: center;
  Height: 45px;
  background-color: white;
}

.footer > button {
  font-size: smaller;
  height: 31px;
  background-color: rgba(63, 107, 92, 0.483);
  text-align: center;
  box-shadow:4px 4px #88888838;
}

/* button {
  
} */